html {
  box-sizing: border-box;
  font: normal 100%/1.5 sans-serif;
  font-family: Georgia, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h2 {
  padding: .75rem 0 0;
}

.link-card h2 {
  font-family: Dosis, sans-serif;
  font-size: 1.5rem;
  margin: 0;
}

.link-card {
  color: #512200;
  background-color: #dcd4cd;
  padding: .4em .75em .5em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
  border: 3px solid #9a816d;
}

.link-card:hover {
  background-color: #cabdb2;
}

.btn-wrap {
  color: #f0eee8;
  background-color: #785439;
  font-family: Dosis, sans-serif;
  padding: .4em .75em .5em;
  border-radius: 8px;
  text-decoration: none;
  font-size: 1rem;
  display: inline-block;
}

dl {
  padding: 1rem 0;
}

a dl {
  font-size: .875rem;
}

div * {
  display: inline-block;
}

dd {
  font-style: italic;
  text-align: right;
}

footer {
  text-align: center;
}
